body {
    background: #F7FCE3;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #62AD09;
    box-shadow: 0 .1rem .1rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.menubutton {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 2rem;
    height: 2rem;
}

nav {
    position: fixed;
    top: 0;
    left: -90%;
    background: #000000;
    color: #FFFFFF;
    text-align: left;
    width: 90%;
}

.menuitem {
    padding: 1rem;
}

main {
    padding: 4rem 1rem 5rem 1rem;
}

figure {
    text-align: center;
}


.baritem {
    float: left;
    width: 33%;
    text-align: center;
    padding: 1rem 1rem;
}

.baritem img {
    width: 2rem;
    height: 2rem;
}

.calendario  {
    width: 20rem;
    height: 25rem;
}

select {
    border-width: 5px;
    border-color: #62AD09;
    height: 2rem;
    width: 6rem;
}
.splash {
    height: 30rem;
    width: 20rem;
}