#barcodevideo, #barcodecanvas, #barcodecanvasg {
	height: 200px;
}	

#barcodecanvasg {
	position: absolute;
	top: 0px;
	left: 0px;
}

#result {
	font-family: verdana;
	font-size: 1.5em;
}

#barcode {
	position: center;
}	

#barcodecanvas {
	display: none;
}
